body{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.illustration{
    width: 40%;
    margin-left: 30%;
    margin-bottom: 30px;
    margin-top: 30px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: goldenrod;
}

p{
    text-align: justify;
}


@media (max-width: 768px) {

    body {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

}